[submodule "extensions/tinyxml2"]
	path = extensions/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "extensions/glfw"]
	path = extensions/glfw
	url = https://github.com/glfw/glfw.git
	branch = latest
[submodule "extensions/glad"]
	path = extensions/glad
	url = https://github.com/Dav1dde/glad.git
