[submodule "extensions/angle"]
	path = extensions/angle
	url = https://github.com/google/angle.git
[submodule "extensions/tinyxml2"]
	path = extensions/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "tools/chromium/depot_tools"]
	path = tools/chromium/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
